
override_dh_auto_configure: patch libsigar xerces311

%:
	dh $@ --parallel

override_dh_auto_install: 
override_dh_auto_clean: unpatch

override_dh_auto_test:

override_dh_gencontrol:

override_dh_shlibdeps:

clean_dev_local: unpatch
