host: spqr_coordinator
coordinator_port: 7002
grpc_api_port: 7003
qdb_addr: '[spqr_qdb_0_1]:2379'
log_level: DEBUG
shard_data: '/spqr/docker/coordinator/shard_data.yaml'
frontend_rules:
  - usr: user1
    db: db1
    pool_default: true
    pool_mode: TRANSACTION
    pool_prepared_statement: false
    auth_rule:
      auth_method: ok