
addr: '[spqr_router_1_1]:6432'
adm_addr: '[spqr_router_1_1]:7432'
proto: 'tcp'
http_addr: 'spqr_router_1_1:7000'
data_folder: '/etc/router'
world_http_addr: ':6432'

executer:
        init_sql_path: "/router/docker/router/init.sql"

qrouter:
        qrouter_type: PROXY
rules:
        tls:
                key_file: '/etc/odyssey/ssl/server.key'
                cert_file: '/etc/odyssey/ssl/server.crt' 
                sslmode: "disable" 
        frontend_rules:
                - route_key_cfg:
                        usr: user1
                        db: db1
                  pooling_mode: TRANSACTION
                  auth_rule:
                          auth_method: 'ok'
        proto: 'tcp6'
        world_shard_fallback: true
        shard_mapping:
                1:
                        tls:
                                key_file: '/etc/odyssey/ssl/server.key'
                                sslmode: "disable" 
                                cert_file: '/etc/odyssey/ssl/server.crt' 
                        conn_db: "db1"
                        conn_usr: "user1"
                        passwd: 12345678
                        shard_type: 'DATA'
                        hosts:
                                - conn_addr: "192.168.233.2:6432"
                2:
                        tls:
                                key_file: '/etc/odyssey/ssl/server.key'
                                sslmode: "disable"
                                cert_file: '/etc/odyssey/ssl/server.crt' 
                        conn_db: "db1"
                        conn_usr: "user1"
                        passwd: 12345678
                        shard_type: 'DATA'
                        hosts:
                                - conn_addr: "192.168.233.3:6432"

                w1:
                        tls:
                                key_file: '/etc/odyssey/ssl/server.key'
                                sslmode: "disable"
                                cert_file: '/etc/odyssey/ssl/server.crt'
                        conn_db: "db1"
                        conn_usr: "user1"
                        passwd: 12345678
                        shard_type: 'WORLD'
                        hosts:
                                - conn_addr: "192.168.233.8:6432"

        backend_rules:
                - route_key_cfg:
                        usr: user1
                        db: db1
                  pool_discard: true
                  pool_rollback: true
