name: linters

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout=10m --out-format=colored-line-number
  goimports:
    runs-on: ubuntu-latest
    name: goimports check
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: goimports check
        uses: DarthBenro008/goimports-check-action@v0.1.0
        with:
          root-path: './' # The relative root path to run goimports
          excludes: "./yacc/
